<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <a class="navbar-brand text-white" href="#">Imovie</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input
            class="search_input"
            type="text"
            name=""
            placeholder="Search..."
          />
          <a href="#" class="search_icon"><i class="fa fa-2x fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>
